@model Ejemplo1_MVC.Models.Persona

<h2>Detalles de Persona</h2>

<div>
    <h4>Persona</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Edad</dt>
        <dd class="col-sm-10">@Model.Edad</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>